*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
header{
    width: 95%;
    position: relative;
}
header img{
    width: 140px;
    height: auto;
    margin: 36px 0 0 130px;
}
header button{
    position: absolute;
    top: 45px;
    right: 45px;
    color: #fbfcfb;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}
.btn{
    transition: 0.5s;
}
.btn:hover{
    background: #fff;
    color: #333;
}
.left{
    float: left;
    width: 100%;
}
.right{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    position: relative;
}
.content{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 150px;
}
.content small{
    color: #fff;
}
.content h1{
    font-size: 80px;
    color: #fff;
}
.content button{
    color: #fbfcfb;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: relative;
}
.side-bar img{
    width: 30px;
    height: auto;
    display: block;
}
.menu img{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 25px;
}
.icons{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10px;
}
.share{
    position: absolute;
    top: 80%;
    left: 10px;
}
.div-clear{
    clear: both;
}
.bubbles{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}
.bubbles img{
    width: 55px;
    height: auto;
    animation: bubbles 7s linear infinite;
    animation-fill-mode: backwards;
}
@keyframes bubbles {
    0% {
        opacity: 0;
    }50% {
        opacity: 1;
    }70% {   
        opacity: 1;
    }100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    width: 25px;
    animation-delay: 2s;
}.bubbles img:nth-child(2){
    animation-delay: 1s;
}.bubbles img:nth-child(3){
    width: 25px;
    animation-delay: 3s;
}.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}.bubbles img:nth-child(5){
    animation-delay: 3s;
}.bubbles img:nth-child(6){
    width: 20px;
    animation-delay: 5s;
}.bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
}
